* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}
.page1 {
	height: 100vh;
	width: 100vw;
	/*border: 2px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*Animation*/

.animationjip {
	position: relative;
	/*border: 2px solid orange;*/
	/* animation-name: myanimation;
	animation-duration: 4s;
	animation-iteration-count: ;
	animation-timing-function: linear; */

}

/* @keyframes myanimation {
	0% { right: 	0%; top: 0%; }
	25% { right: 20%; top: 0%;  }
	50% { right: 0%; top: 0%;}
	75% { right: 0%; top: 0%; left: 20%; }
	100% { right: 0%; top: 0%; }

} */

#videoBG {
	position: fixed;
	z-index: -1;
}


/*Navigation Bar*/

.navbar {
	position: fixed;
	height: 100vh;
	width: 100vw;
	/* margin-left: 4.8%;
	margin-top: 5vh; */
	z-index: 2;

}

.nav {

	/*border: 2px solid orange;*/
	height: 5%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0e0adf;

}


.navtext {
	list-style: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;

}

.navtext2 {
	color: white;
}



.navtext1{
	font-size: 2.5vh;
	margin: 1%;
	padding: .5%;
	color: white;

}

.menubutton {
	height: 2vh;
}

.page1space {
	height: 5%
	width: 90%;
	/*border: 2px solid orange;*/
}

/* Start of Page 1 Image1*/

.image1 {
	height: 70%;
	width: 90%;
	/*border: 2px solid orange;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #8c52ff;
}

.jip {
	font-size: 10vh;
	color: white;

}



.easy {
	font-size: 3vh;
	color: white;
}

.car {
	height: 30vh;
	width: 30vh;
}





/*Start of Page 1 Image2*/

.image2 {
	position: fixed;
	height: 10vh;
	width: 90vw;
	margin-left: .1%;
	margin-top: 42vh;
	/*border: 2px solid orange;*/
	background-color: #a6a6a6;

}

.ride {
	font-size: 5vh;
	color: white;
}

.play > img {
	width: 8vw;
	height: 8vh;
}

.image2a {
	/*border: 2px solid black;*/
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;

}




/*Start of Page 2*/

.page2 {
	height: 100vh;
	width: 100vw;
	/*border: 2px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*Start Page 2 Image 1*/
.page2img1 {
	height: 20%;
	/*border: 2px solid orange;*/
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0e0adf;
	
}

.Map1 {
	font-size: 5vh;
	color: white;
}

.page2img2 {
	height: 50%;
	/*border: 2px solid orange;*/
	width: 90%;
	background-color: #8c52ff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Map2 {
	height: 40vh;
	width: 70vw;

}




/*Start of Page 3*/
.page3 {
	height: 100vh;
	width: 100vw;
	/*border: 2px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.mission, .vision, .goal {
	height: 20%;
	width: 90%;
	/*border: 2px solid orange;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 
}

.mission {
	background-color: #0e0adf;
}

.vision {
	background-color: #8c52ff;
}

.goal {
	background-color: #a6a6a6;
}

.page3header {
	font-size: 3vh;
	color: white;
	text-decoration: underline;
}

.page3text {
	font-size: 1.5vh;
	color: white;
}



/*Start of Page 4*/


.page4 {
	height: 100vh;
	width: 100vw;
	/*border: 2px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testi1 {
	height: 25%;
	width: 90%;
	/*border: 2px solid orange;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imgtesti1 {
	height: 15vh;
	width: 25vw;
	border-radius: 50%;
	border: 2px solid #0e0adf;
}

.imgtesti2 {
	height: 15vh;
	width: 25vw;
	border-radius: 50%;
	border: 2px solid #8c52ff;
}

.imgtesti3 {
	height: 15vh;
	width: 25vw;
	border-radius: 50%;
	border: 2px solid #a6a6a6;
}

.testitxt1, .testitxt2, .testitxt3 {
	font-size: 2vh;
}

.star {
	height: 3vh;
	width: 20vh;
}

/*Start of box1*/

/*Start of Page 5*/
.page5 {
	height: 100vh;
	width: 100vw;
	/*border: 2px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page5a {
	height: 20%;
	width: 90%;
	/*border: 2px solid orange;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 
}

.page5b {
	font-size: 3vh;
	color: white;
	text-decoration: underline;
}

.page5c {
	font-size: 1.5vh;
	color: white;
	
}

.about-us {
	background-color: #0e0adf;
}

.address {
	background-color: #8c52ff;
}

.footer {
	background-color: #a6a6a6;
}

.footerlogo {
	height: 5vh;
	width: 5vw;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.footertext {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.terms {
	font-size: 1vh;
	color: white;
}

.page5footer {
	height: 20%;
	width: 90%;
	/*border: 2px solid orange;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border-radius: 
}

#app {
	height: 5vh;
	width: 10vw;
}

.app1 {
	display: flex;
}
/*Start of box1*/


@media only screen and (min-width: 961px) and (max-width: 1920px){
	
	
	.navbar {
		/* border: 2px solid black; */
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	
	.nav {
		/* border: 2px solid black; */
		height: 10vh;
		width: 100vw;
		
		
	}

	.navtext {
		/* border: 2px solid orange; */
		height: 10vh;
		width: 80vw;
	}

	.navtext2 {
		font-size: 5vh;
	}

	.image2{
		visibility: hidden;
	}
	



	.page2	{
		flex-direction: row;
		justify-content: center;
		align-items: center;
		/* border: 2px solid orange; */
	}
	.page2img1 {
		height: 60vh;
		width: 20vw;
	}
	.page2img2 {
		height: 60vh;
		width: 60vw;
	}
	.Map2 {
		height: 50vh;
		width: 50vw;
	}

	#mission {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* border: 2px solid orange; */
	}

	.mission, .vision, .goal {
		height: 25vh;
		width: 80vw;
		/* border: 2px solid white; */
		
	}

	.page3header {
		font-size: 4vh;

	}

	
	.page3text {
		font-size: 3.5vh;
		/* border: 2px solid black; */
		margin: 5vw;
		margin-top: 0;
	}

	.about-us-title {
		margin-top: 5vh;
		/* border: 2px solid black; */
	}

	.page4 {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		/* border: 2px solid black; */
		width: 100vw;
		height: 100vh;
	}

	.testi1 {
		height: 80vh;
		width: 25vw;
	}

	.imgtesti1, .imgtesti2, .imgtesti3 {
		height: 50vh;
		width: 25vw;
		border-radius: 0%;
		border: none;
		
	}

	.page5a, .page5footer {
		height: 25vh;
		width: 80vw;
	}


	.page5b {
		font-size: 4vh;
	}

	.page5c {
		font-size: 3vh;
		/* border: 2px solid black; */
		margin: 5vh;
	}

	.logo {
		/*border: 2px solid orange;*/
		height: 5vh;
		width: 17vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	
	.terms {
		font-size: 3.5vh;
	}
	
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
	.image2{
		z-index: 3;
	}
	
	
	#mission {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}

	.mission, .vision, .goal {
		height: 25vh;
		width: 80vw;
		
		
	}

	.page3header {
		font-size: 4vh;

	}

	.page3text {
		font-size: 2.0rem;
		/* border: 2px solid black; */
		margin: 5vw;
	}

	.page5a, .page5footer {
		height: 25vh;
		width: 80vw;
	}


	.page5b {
		font-size: 4vh;
	}

	.page5c {
		font-size: 2.5vh;
		/* border: 2px solid black; */
		margin: 5vw;
		margin-top: 0;
	}

	.logo {
		/*border: 2px solid orange;*/
		height: 5vh;
		width: 17vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	
	.terms {
		font-size: 3.5vh;
	}

	#app {
		height: 5vh;
		width: 20vw;
	}
}

/*mobile*/

@media only screen and (max-width: 400px) {
	.page3text {
		font-size: 2vh;
		/* border: 2px solid black; */
		margin: 5vw;
	}

	.page5c {
		font-size: 2vh;
		/* border: 2px solid black; */
		margin: 5vw;
		margin-top: 0;
	}

	.about-us-title {
		margin-top: 2.5vh;
	}

	.logo {
		/*border: 2px solid orange;*/
		height: 5vh;
		width: 17vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	
	.terms {
		font-size: 2.5vh;
	}

	#app {
		height: 5vh;
		width: 20vw;
	}
}
